@model Insurance_Policy_Endorsement_System.Models.LoginDetail

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>LoginDetail</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.loginPassword)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.loginPassword)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Customer.CustomerName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Customer.CustomerName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.loginId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
